boto3==1.35.22
bs4==0.0.2
ipython==8.27.0
json_repair==0.29.4
langchain==0.3.0
nest-asyncio==1.6.0
playwright==1.47.0
pyautogen==0.3.0
python-dotenv==1.0.1
requests==2.32.3
selenium==4.25.0
typing_extensions==4.12.2
validators==0.34.0
webdriver-manager==4.0.2
gigachain-community==0.2.16.post3
langchain-community==0.3.1
gigachain-core==0.2.38.post2
langchain-core==0.3.8
rd-undetected-chromedriver==3.5.6
st-undetected-chromedriver==3.1.1
undetected-chromedriver==3.5.5
undetected-chromedriver-arthur==3.4.9
undetected-chromedriver-modified==3.0.3
