autogen==0.3.0
behave==1.2.6
boto3==1.35.22
bs4==0.0.2
ipython==8.27.0
json_repair==0.29.4
python-dotenv==1.0.1
requests==2.32.3
selenium==4.25.0
webdriver-manager==4.0.2
autogen==0.3.0
pyautogen==0.3.0
aqa-core==12.7.2021
kgf-azure-ml-model==1.0
pcap-blur==2.0.1
step-select==0.1.2
STEPS==2.2.0
